<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>
Email: <%= @user.email %><br>
Hometown: <%= @user.hometown %><br>
Age: <%= @user.age %>
<!-- <\!-- <p class="text-center">Birthday: <%= @user.birthday %></p> -\-> -->
  <!-- <%= link_to "Edit your profile" , edit_user_path(@user) %> -->
