<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>

<p class="text-center">Email: <%= @user.email %></p>
<!-- <p class="text-center">Birthday: <%= @user.birthday %></p> -->
<p class="text-center">Hometown: <%= @user.hometown %></p>
<p class="text-center">Age: <%= @user.age %></p>

  <%= link_to "Edit your profile" , edit_user_path(@user) %>
